$color_1: #fff;
$color_2: #303030;
$color_3: rgba(0, 0, 0, 0);
$color_4: #000;
$color_5: #87cefa;
$color_6: #fffacd;
$color_7: #a9a9a9;
$font-family_1: "Montserrat", sans-serif;
$background-color_1: #D1D1D8;
$background-color_2: #fff;
$background-color_3: cyan;
$background-color_4: #29aafe;
$background-color_5: #3b5998;
$background-color_6: #00aced;
$background-color_7: #007bb6;

@keyframes slideThem {
	0% {
		left: 0;
	}
	8% {
		left: 0;
	}
	20% {
		left: -100%;
	}
	31% {
		left: -100%;
	}
	42% {
		left: -200%;
	}
	53% {
		left: -200%;
	}
	64% {
		left: -300%;
	}
	75% {
		left: -300%;
	}
	86% {
		left: -400%;
	}
	97% {
		left: -400%;
	}
}
body {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	font-weight: bold;
	background: gray;
	user-select: none;
}
.slider_page {
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(270deg, #B79891, #94716B);
}
#homeHeading {
	text-align: center;
}
.slider {
	position: absolute;
	top: 10%;
	left: 20%;
	align-content: center;
	overflow: hidden;
	width: 60%;
	height: 80%;
	figure {
		position: relative;
		width: 500%;
		margin: 0;
		left: 0;
		img {
			float: left;
			width: 20%;
			height: 500px;
		}
		iframe {
			float: left;
			width: 20%;
			height: 500px;
		}
	}
}
.anim1_footage {
	display: block;
}
.anim2_footage {
	display: none;
}
.anim3_footage {
	display: none;
}
.anim4_footage {
	display: none;
}
.anim5_footage {
	display: none;
}
.perform_animation {
	animation: slideThem 25s infinite;
}
.perform_only {
  animation: slideThem .1s 1;
}

.manual_slider {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slide_button {
	width: 1.1rem;
	height: 1.1rem;
	border: 3px solid #000;
	border-radius: 60%;
	background: crimson;
	margin: .5rem;
}
.container-fluid {
	display: grid;
}
.navbar {
	display: block;
	position: fixed;
	right: -12px;
	top: 0;
	align-items: center;
	justify-content: center;
	height: 20vh;
	z-index: 999;
}
li {
	list-style: none;
	margin: 1rem;
	a {
		text-decoration: none;
	}
}
.nav__link {
	writing-mode: vertical-rl;
	background: linear-gradient(to right, #040005, gray, #040005, gray);
	color: $color_1;
	font-size: 0.7rem;
	font-weight: bold;
	text-align: center;
	padding: .5rem;
	&:hover {
		font-weight: bold;
		background: #F00F00;
		color: $color_2;
	}
}
.card {
	border: 7px solid #030303;
	border-style: double;
	width: 400px;
	height: 100vh;
	margin: 2rem auto;
	background-color: $background-color_1;
}
.card1 {
	&:hover {
		background: linear-gradient(270deg, #FFF580, #FFF888, #FFF580);
	}
}
.card3 {
	&:hover {
		background: linear-gradient(270deg, #FFF580, #FFF888, #FFF580);
	}
}
.card__content {
	padding: 15px;
	font-size: 0.75rem;
	margin-top: 1rem;
}
.card__image {
	width: 100%;
	height: 30%;
	margin-bottom: 1em;
}
.card2 {
	background: linear-gradient(270deg, #FFF580, #FFF888, #FFF580);
}
.card2__info {
	margin-top: 2rem;
}
.textArea {
	padding: .7rem;
	margin: 1rem auto;
	background: #303030;
	color: $color_1;
}
button {
	width: auto;
	padding: 0;
}
.buttons {
	font-size: 0.65rem;
}
.bbtn {
	position: absolute;
	bottom: 1%;
	right: 2%;
	background: #CD853F;
	padding: .2rem;
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.3), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	z-index: 100;
	&:hover {
		background: #8B4513;
		font-size: .7rem;
		padding: .2rem;
		transition: 1s ease-in-out;
		a {
			color: $color_1;
			font-weight: 900;
			transition: 1s ease-in-out;
		}
	}
	a {
		color: $color_2;
		font-weight: 900;
		text-decoration: none;
	}
}
.tbtn {
	position: absolute;
	top: .4rem;
	right: .4rem;
	width: 1.7rem;
	height: 1.7rem;
	border-radius: 60%;
	background: crimson;
	border: 2px solid red;
	box-shadow: inset 12px 12px 12px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	z-index: 100;
	&:hover {
		width: 2.4rem;
		height: 2.4rem;
		transition: 1.5s;
		border: 1.5px solid red;
	}
	a {
		text-decoration: none;
	}
}
.wildlife {
	color: $color_1;
	font-size: 1rem;
	border: 5px solid #F8FAD4;
	padding: 1rem;
	margin: auto;
}
.wildlife_detail {
	text-align: justify;
	text-justify: inter-word;
}
.wildlife__care {
	text-align: center;
}
.the_tui {
	background: #303030;
}
.the_kudu {
	background: linear-gradient(270deg, #28313b, #485461);
}
h1 {
	text-align: center;
}
b {
	font-size: 1.7rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.original__information {
	position: absolute;
	top: 3rem;
	padding: 15px;
}
.more__information {
	position: absolute;
	top: 3rem;
	padding: 15px;
	color: $color_3;
}
.triggerInformation {
	transition: 2s ease-in-out;
	color: $color_1;
}
.overlayText {
	transition: 2s ease-in-out;
	opacity: 0;
}
.card2BgColor {
	background: #343230;
	color: $color_1;
	transition: 2s ease-in-out;
}
.wildlife_footer {
	height: 100vh;
	padding: 3rem 1.4rem;
	font-size: 1rem;
	line-height: 1.3rem;
	color: $color_4;
	letter-spacing: .7px;
	h2 {
		font-size: 1.5rem;
		color: $color_1;
		text-align: center;
	}
	a {
		color: $color_1;
		&:hover {
			color: $color_5;
			text-decoration: none;
		}
	}
	.social {
		text-align: right;
		a {
			width: 2.3rem;
			height: 2.3rem;
			line-height: 2.3rem;
			margin-left: .4rem;
			margin-right: 0;
			border-radius: 100%;
			background-color: $background-color_2;
		}
	}
}
h6 {
	color: $color_1;
	text-decoration: underline;
	font-size: 1.2rem;
	margin: 5rem 0 2rem;
}
.footer_links {
	padding-left: 0;
	list-style: none;
	li {
		display: block;
	}
	a {
		color: $color_6;
		&:active {
			color: $color_1;
			text-decoration: none;
		}
		&:focus {
			color: $color_1;
			text-decoration: none;
		}
		&:hover {
			color: $color_1;
			text-decoration: none;
		}
	}
}
.footer_links.inline {
	li {
		display: inline-block;
	}
}
.copy_text {
	margin: 0;
}
.social {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	li {
		display: inline-block;
		margin-bottom: 4px;
	}
	a {
		background-color: $background-color_3;
		color: $color_7;
		font-size: 1rem;
		display: inline-block;
		line-height: 3rem;
		width: 3rem;
		height: 3rem;
		text-align: center;
		margin-right: .6rem;
		border-radius: 100%;
		transition: all .2s linear;
		&:active {
			color: $color_1;
			background-color: $background-color_4;
		}
		&:focus {
			color: $color_1;
			background-color: $background-color_4;
		}
		&:hover {
			color: $color_1;
			background-color: $background-color_4;
		}
		.facebook {
			&:hover {
				background-color: $background-color_5;
			}
		}
		.twitter {
			&:hover {
				background-color: $background-color_6;
			}
		}
		.linkedin {
			&:hover {
				background-color: $background-color_7;
			}
		}
	}
}
.social.size-sm {
	a {
		line-height: 2rem;
		height: 2rem;
		width: 2rem;
		font-size: .85rem;
	}
}
@media (max-width: 900px) {
	.slider {
		figure {
			img {
				height: 450px;
			}
			iframe {
				height: 450px;
			}
		}
	}
	#homeHeading {
		font-size: .9rem;
	}
	.slide_button {
		width: .9rem;
		height: .9rem;
	}
	.wildlife_footer {
		[class^=col-] {
			margin-bottom: 2rem;
			padding: 2.5rem 1.1rem;
			font-size: .9rem;
			line-height: 1.1rem;
		}
		h2 {
			font-size: 1.3rem;
		}
		.social {
			a {
				width: 2.1rem;
				height: 2.1rem;
				line-height: 2.1rem;
				margin-left: .35rem;
			}
		}
	}
}
@media (max-width: 768px) {
	.slider {
		figure {
			img {
				height: 340px;
			}
			iframe {
				height: 340px;
			}
		}
	}
	.slide_button {
		width: .65rem;
		height: .65rem;
	}
	.wildlife_footer {
		margin-bottom: 1.8rem;
		padding: 2.2rem 1rem 0;
		font-size: .85rem;
		line-height: 1rem;
		h2 {
			font-size: 1.1rem;
		}
		.social {
			text-align: center;
			a {
				width: 1.8rem;
				height: 1.8rem;
				line-height: 1.8rem;
				margin-left: .3rem;
			}
		}
		.copy_text {
			text-align: center;
		}
	}
	h6 {
		font-size: .9rem;
		margin: 3rem 0 1.3rem;
	}
}
@media (max-width: 480px) {
	.slider {
		figure {
			img {
				height: 270px;
			}
			iframe {
				height: 270px;
			}
		}
	}
	.slide_button {
		width: .4rem;
		height: .4rem;
	}
	.wildlife_footer {
		margin-bottom: 1.5rem;
		padding: 1.8rem .8rem 0;
		font-size: .65rem;
		line-height: .8rem;
		h2 {
			font-size: .8rem;
		}
		.social {
			a {
				width: 1.2rem;
				height: 1.2rem;
				line-height: 1.3rem;
			}
		}
	}
	h6 {
		font-size: .7rem;
		margin: 2.4rem 0 1rem;
	}
}
@media (max-width: 320px) {
	.slider {
		figure {
			img {
				height: 190px;
			}
			iframe {
				height: 190px;
			}
		}
	}
	.slide_button {
		width: .2rem;
		height: .2rem;
	}
	.wildlife_footer {
		margin-bottom: 1.1rem;
		padding: 1.3rem .6rem 0;
		font-size: .45rem;
		line-height: .6rem;
		h2 {
			font-size: .55rem;
		}
		.social {
			a {
				width: .85rem;
				height: .85rem;
				line-height: 1rem;
			}
		}
	}
	h6 {
		font-size: .5rem;
		margin: 2rem 0 .75rem;
	}
}
